{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">악플 유형 판별</strong>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-10">
        <form action="/menu1" method="post"style="font-family: NEXON Lv2 Gothic Light;">
            <form>
                입력: <input type="text" name="sentence" placeholder="판별할 문장을 입력하세요">
                <button type="submit" class="btn btn-primary mr-2" style="background-color: rgb(8,32,64); font-family: NEXON Lv2 Gothic Bold;">실행</button>
            </form>           
        </form>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}