{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">악플 확률 측정</strong> - 결과
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-12">
        <table class="table" style="font-family: NEXON Lv2 Gothic Light;">
            <tr>
                <tr>
                    <h3>{{ result }}</h3>
                </tr>
                <tr>
                    <img src="static/img/comment_graph.png">
                </tr>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button class="btn btn-primary" onclick="location.href='/menu2'" style="background-color: rgb(8,32,64); font-family: NEXON Lv2 Gothic Bold;">재실행</button>
                </td>
            </tr>
        </table>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}