{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">악플 확률 측정</strong>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-10">
        <form action="/menu2" method="post" style="font-family: NEXON Lv2 Gothic Light;">
            <form>
                <td>학습모델: </td>
                <select name="m_name">
                    <option value="LSTM">LSTM</option>
                    <option value="BiLSTM">BiLSTM</option>
                    <option value="BiLSTM_LSTM">BiLSTM + LSTM</option>
                    <option value="CNN_BiLSTM_LSTM">CNN + BiLSTM + LSTM</option>
                    <option value="Conv1D_LSTM">Conv1D + LSTM</option>
                    <option value="Conv1D_BiLSTM">Conv1D + BiLSTM</option>
                    <option value="GRU">GRU</option>
                    <option value="Conv1D_GRU">Conv1D + GRU</option>
                </select>
                댓글 입력: <input type="text" name="sentence">
                <button type="submit" class="btn btn-primary mr-2"
                    style="background-color: rgb(8,32,64); font-family: NEXON Lv2 Gothic Bold;">실행</button>

            </form>
        </form>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}